@tailwind base;
@tailwind components;
@tailwind utilities;



.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.35s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #000;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 20px;
  right: 15px;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}




nav {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 2;
  transition: all 300ms ease-in-out;
}

.scroll-down nav {
  transform: translate3d(0, -100%, 0);
}

.scroll-up nav {
  filter: drop-shadow(0 -10px 20px #aaaaaa);
}
