<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs')%>
  <link rel="stylesheet" href="/css/tailwind.css">
  <body>
    <% if () %>
    <%- include('../includes/sellerNav.ejs') %>
    <p class="mt-32">Seller Profile</p>
  </body>
</html>