<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs')%>
  <link rel="stylesheet" href="/css/tailwind.css">
  <body>
    <%- include('../includes/userNav.ejs') %>
    <p class="mt-32 text-lg">No Product Found</p>
  </body>
</html>