<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs')%>
</head>

<body>
    <%- include('./includes/userNav.ejs')%>
    <h1>Something Error Happended</h1>
    <h5>You can not perform this operation now. We are working to fix this issue</h5>
</body>

</html>