<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs')%>
</head>
<body>
    <%- include('../includes/userNav.ejs')%>
    <main>
        <h2>Page for user account</h2>
    </main>
</body>
</html>
